services:
  web:
    build: .
    command: >
      bash -c "alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/test_db
      - GITHUB_TOKEN=${GITHUB_TOKEN}
    depends_on:
      - db
    volumes:
      - ./pdfs:/app/pdfs
      - ./temp_images:/app/temp_images
    restart: always

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db
    ports:
      - "5432:5432"

volumes:
  postgres_data: